@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --col-header-bg: hsl(212 55% 66%);
  --col-section-accent: hsl(0 6% 14% / 0.85);
  --col-section-accent-text: hsl(0 0% 96%);
  --col-section-light: hsl(0 0% 85% / 0.85);
  --col-section-light-text: hsl(0 0% 96%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  /* background: var(--clr-bg); */
  font-family: sans-serif;
  margin: 0;
}
html {
  background: url(../img/bg2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
<<<<<<< HEAD
  scroll-behavior: smooth !important;
=======
  scroll-behavior: smooth;
>>>>>>> main
}
.main {
  margin: 5rem auto;
  margin-top: 65px;
  width: 100%;
}

/* section stuff */
section {
  height: max(max-content, 33vh);
  padding: 2rem;

  scroll-margin-top: 65px;
}

.about,
.blog {
  display: grid;
  color: var(--col-section-accent-text);
  background: var(--col-section-accent);
  grid-auto-rows: auto;
  justify-content: space-between;
  gap: 2em;
}
.projects,
.contact {
  background: var(--col-section-light);
  display: grid;
}

.about .about-text h3,
.blog .blog-text h3 {
  line-height: 1.1rem;
}

/* image stuff */

.about .about-image,
.blog .blog-image {
  opacity: 0;
}
.about-image,
.blog-image {
  border-radius: 1em;
}

.about-image {
  background: url(../img/tech1.jpg);
}
.blog-image {
  background: url(../img/tech2.jpg);
}

@media (min-width: 55em) {
  section {
    height: max(max-content, 50vh);
    min-height: 300px;
  }
  .about,
  .blog {
    grid-template-columns: 50% 50%;
  }
  .about .about-text,
  .blog .blog-text {
    grid-column: 1;
  }
  .about .about-image,
  .blog .blog-image {
    opacity: 1;
    display: grid;
    grid-column: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    margin: 2em;
    min-height: 300px;
  }
}
@media (min-width: 85em) {
  body {
    width: 85em;
    margin: 0 auto;
  }
  section {
    height: max(max-content, 50vh);
  }
  .about,
  .blog {
    grid-template-columns: 50% 50%;
  }
  .about .about-text,
  .blog .blog-text {
    grid-column: 1;
  }
  .about .about-image,
  .blog .blog-image {
    opacity: 1;
    display: grid;
    grid-column: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    margin-right: 3em;
  }
}

.img-hvr {
  transition: transform 200ms ease-in-out;
}
.img-hvr:hover {
  transform: scale(1.05);
}
